DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/campaign_chronicler
SECRET_KEY=change-me
POSTGRES_HOST_PORT=15432
BACKEND_HOST_PORT=18000
FRONTEND_HOST_PORT=15173
VITE_API_BASE_URL=http://localhost:18000
GIT_CONTEXT=https://github.com/sefaction/campaign.chronicler.git#main
POSTGRES_DATA_PATH=/mnt/user/appdata/campaign-chronicler/postgres
BACKEND_DATA_PATH=/mnt/user/appdata/campaign-chronicler/backend
BACKEND_UPLOADS_PATH=/mnt/user/appdata/campaign-chronicler/backend/uploads
